#title-container {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    background-color:#2d5040;
    max-height: 33vh;
}

#title {
    position: absolute;
    font-size: 63px;
    color:blanchedalmond;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:27px;
}

#alabaster-alligator {
    margin: -48px;
    width: 180px;
}

.subtitle {
    margin-left: 132px;
    color: black;
    font-weight: bold;
    font-size: 25px;
}