#title-container {
  background-color: #2d5040;
  align-items: flex-end;
}

.title {
  color: blanchedalmond;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#alabaster-alligator {
  width: 180px;
}

#main-container {
  background-color: blanchedalmond;
}

#diagonal-line-left {
  border-bottom: 3px solid grey;
  width: 45%;
  transform: rotate(45deg);
  transform-origin: left;
}

#diagonal-line-right {
  border-bottom: 3px solid grey;
  width: 45%;
  transform: rotate(-45deg);
  transform-origin: right;
}

#tv-set {
  background-color: saddlebrown;
  min-height: 80vh;
  max-height: 80vh;
  max-width: 125vh;
  max-width: 125vh
}

#tv-screen {
  min-width: 80vh;
  max-width: 80vh;
  min-height: 60vh;
  max-height: 60vh;
  border-radius: 30px;
  font-size: 40px;
}

.answer-btn {
  height: 163px;
  width: 160px;
  border-radius: 50%;
}

#footer {
  background-color: #2d5040;
}

#TMDB {
  max-width: 7%;
}

#watchmode {
  max-width: 10%;
}

#urPick {
  font-size: 5vh;
}

#synopsis {
  font-size: 15px;
}

#media-image {
  margin-top: 20px;
  box-shadow: 12px 12px 2px 1px rgba(189, 189, 191, 0.33);
  border: solid white 3px;
  width: 100px;
  height: 150px;
}

#check {
  font-size: 20px;
}

@media only screen and (max-width: 992px) {
  #title-container {
    flex-direction: column;
    align-items: center;
  }

  #tv-set {
    min-height: 35vh;
    min-width: 75vh;
  }

  #tv-screen {
    min-height: 43vh;
    min-width: 50vh;
    max-width: 50vh;
    max-height: 43vh;
    font-size: 20px;
  }

  .answer-btn {
    height: 100px;
    width: 95px;
    border-radius: 50%;
  }

  #urPick {
    /* font-size: 20px; */
  }

  #synopsis {
    font-size: 15px;
  }

  #media-image {
    margin-top: 20px;
    width: 100px;
    height: 150px;
  }

  #check {
    font-size: 13px;
  }

}

@media only screen and (max-width: 768px) {
  #title-container {
    flex-direction: column;
    align-items: center;
  }

  #tv-set {
    min-height: 68vh;
    min-width: 75vh;
    max-height: 68vh;
    max-width: 75vh;
  }

  #tv-screen {
    min-height: 50vh;
    min-width: 50vh;
    max-height: 50vh;
    max-width: 50vh;
    font-size: 15px;
  }


  .answer-btn {
    height: 100px;
    width: 95px;
    border-radius: 50%;
  }

  #urPick {
    /* font-size: 20px; */
  }

  #synopsis {
    font-size: 15px;
  }

  #media-image {
    margin-top: 20px;
    width: 100px;
    height: 150px;
  }

  #check {
    font-size: 13px;
  }
}

@media only screen and (max-width: 576px) {
  #title-container {
    flex-direction: column;
    align-items: center;
  }

  #tv-set {
    min-height: 60vh;
    min-width: 68vh;
    max-width: 68vh;
    max-height: 60vh;
  }

  #tv-screen {
    min-height: 42vh;
    min-width: 43vh;
    max-height: 42vh;
    max-width: 43vh;
    font-size: 15px;
  }

  .answer-btn {
    height: 82px;
    width: 88px;
    border-radius: 50%;
  }

  #urPick {
    /* font-size: 12px; */
  }

  #synopsis {
    font-size: 11px;
  }

  #media-image {
    margin-top: 20px;
    width: 100px;
    height: 150px;
  }

  #check {
    font-size: 10px;
    width: 241px;
  }
}