#title-container {
    background-color: #2d5040;
    max-height: 33vh;
}

#title {
    position: absolute;
    color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#alabaster-alligator {
    margin: -48px;
    width: 180px;
}

#main-container {
    background-color: blanchedalmond;
}

#diagonal-line-left {
border-bottom: 3px solid grey;
width: 45%;
transform: rotate(45deg);
transform-origin: left;
}

#diagonal-line-right {
    border-bottom: 3px solid grey;
    width: 45%;
    transform: rotate(-45deg);
    transform-origin: right; 
}

#tv-set {
    background-color: saddlebrown;
    min-height: 80vh;
    max-width:125vh;
}


.answer-btn {
    height: 163px;
    width: 160px;
    border-radius: 50%;
    font-size: 100%;
    background-color: grey;
}

#footer {
    background-color:#2d5040;
}
#TMDB {
    max-width: 7%;
}

#watchmode {
    max-width: 10%;
}